<div class="container mt-2">
    <div class="row">
        <div class="col col-md6">
            <div class="card">
                <div class="card-header">Accounts</div>
                <div class="card-body">
                    <form [formGroup]="accountFormgroup" (ngSubmit)="handleSearchAcount()">
                        <div class="input-group">
                            <label class="input-group-text">AccountId</label>
                            <input type="text" formControlName="accountId" class="form-control">
                            <button class="btn btn-info">
                                <i class="bi bi-searche"></i>
                                Search
                            </button>
                        </div>
                    </form>

                    <ng-container *ngIf="accountObservable| async as accountDetail">
                        <div>
                            <label>Accoun Id:</label>
                            <label><Strong>{{accountDetail.accountId}}</Strong></label>
                        </div>

                        <div>
                            <label>Solde:</label>
                            <label><Strong>{{accountDetail.solde}}</Strong></label>
                        </div>
                    </ng-container>

                </div>
            </div>
        </div>
        <div class="col col-md6">

        </div>
    </div>

</div>