<div class="container mt-2">
    <div class="row">
        <div class="col col-md6">
            <div class="card">
                <div class="card-header">Accounts</div>
                <div class="card-body">
                    <form [formGroup]="accountFormgroup" (ngSubmit)="handleSearchAcount()">
                        <div class="input-group">
                            <label class="input-group-text">AccountId</label>
                            <input type="text" formControlName="accountId" class="form-control">
                            <button class="btn btn-info">
                                <i class="bi bi-searche"></i>
                                Search
                            </button>
                        </div>
                    </form>

                    <ng-container *ngIf="accountObservable| async as accountDetail">
                        <div>
                            <label>Accoun Id:</label>
                            <label><Strong>{{accountDetail.accountId}}</Strong></label>
                        </div>

                        <div>
                            <label>Solde:</label>
                            <label><Strong>{{accountDetail.solde| number:'1.2-2'}}</Strong></label>
                        </div>
                        <table class="table">
                            <thead>
                                <th>ID</th>
                                <th>Date</th>
                                <th>Type</th>
                                <th>Amount</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let op of accountDetail.accountOperationDTOs">
                                    <td>{{op.id}}</td>
                                    <td>{{op.operationDate| date:'dd-MM-yyyy:HH-mm-ss'}}</td>
                                    <td>{{op.type}}</td>
                                    <td class="">{{op.amount| number:'1.2-2'}}</td>

                                </tr>
                            </tbody>
                        </table>
                        <ul class="nav nav-pills">
                            <li *ngFor="let item of [].constructor(accountDetail.totalPage); let page=index">
                                <a [ngClass]="page==currentPage?'btn btn-info': 'btn btn-outline-info'"
                                    (click)="gotoPage(page)" class="btn ms-1 mt-1">{{page}}</a>
                            </li>
                        </ul>

                    </ng-container>

                </div>
            </div>
        </div>
        <div class="col col-md6">
            <div class="card" *ngIf="accountObservable">
                <div class="card-header">Operations</div>
                <div class="card-body" *ngIf="authService.roles.includes('ADMIN')">
                    <form [formGroup]="operationFormfroup" (ngSubmit)="handleAccountOperation()" method="post">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="operationType" value="DEBIT">
                            <label class="form-check-label">DEBIT:</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="operationType" value="CREDIT">
                            <label class="form-check-label">CREDIT:</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="operationType"
                                value="TRANSFERT">
                            <label class="form-check-label">TRANSFERT:</label>
                        </div>
                        <div class="mb-3" *ngIf="operationFormfroup.value.operationType=='TRANSFERT'">
                            <label class="form-label">AccountDestination:</label>
                            <input type="text" formControlName="accountdestination" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Amount:</label>
                            <input type="text" formControlName="amount" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Description:</label>
                            <input type="text" formControlName="description" class="form-control">
                        </div>

                        <button class="btn btn-success btn-blok">Save Operation</button>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>